/*.info-box-number {
  font-size: 16px;
}*/

.box-title {
    font-size: 15px;
}

/*.box-header {
    height: 14px;
}*/

.nav-tabs-custom div.tab-content {
    background-color: #ecf0f5;
}

body {
	background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

#wrapper {
	width: 100%;
	max-width: 1100px;
	min-width: 800px;
	margin: 25px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 25px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	margin: 0 2px 25px;
	/*
	padding-bottom: 5px;
	padding: 15px;
    background: #FEFEFE;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	border: 2px solid #FAFAFA;*/
	/*
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
    */
}

.pin img {
	width: 100%;
	border-bottom: 1px solid RGB(244,244,244);
	padding-bottom: 10px;
	margin-bottom: 5px;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

/*#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}*/