.box-title {
    font-size: 15px;
}

.nav-tabs-custom div.tab-content {
    background-color: #ecf0f5;
}

body {
	background: url(http://subtlepatterns.com/patterns/scribble_light.png);
}

#wrapper {
	width: 100%;
	/*max-width: 1100px;
	min-width: 800px;*/
	margin: 10px auto;
}

#recent_searches {
    font-size: 12px;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 10px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	margin: 0 2px 10px;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid RGB(244,244,244);
	padding-bottom: 10px;
	margin-bottom: 5px;
}

@media (max-width: 500px) {
	#columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

/*#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}*/


/* PROGRESS BARS */
.shiny-progress .bar {
    opacity = 0.25;
    background-color: #dd4b39;
}
.shiny-progress .progress {
    height:18px;
}
.shiny-progress .progress-text {
    top: 0px;
    background-color: #dd4b39;
    opacity = 0.25;
    color: white;
}